#iphone_demo {
	box-sizing: border-box;
	margin: auto;
	padding-top: 205.7%;
	max-width: 370;
	background-repeat: no-repeat;
	background-size: contain;
	position: relative;
}

#iphone_panel {
	max-width: 330px;
	margin: auto;
	position: relative;
	width: 100%;
}

#phone-frame {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events:none;
}

#phone-frame-with-background {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events:none;
}

#phone-frame > img {
	border-radius: 50px;
	height: 100%;
	width: 100%;
}

#phone-frame-with-background > img {
	border-radius: 50px;
	height: 100%;
	width: 100%;
}

#phone-background {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 20px;
	padding: 5%;
	filter: brightness(60%) opacity(70%);
}

#phone-background > img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

#iphone {
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	padding: 27% 7% 36%;
}

.app_icon {
	height: 60px;
	width: 60px;
	flex-basis: 25%;
	z-index: 10;
	text-align: center;
	position: relative;
	color: #efefef;
}

.app_icon > div > img {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	border-radius: 10px;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.app_icon > p {
	margin: 4px 0 0;
	font-size: 12px;
	font-family: sans-serif;
}

#app-group {
	width: 80%;
	height: 30%;
	position: relative;
	box-sizing: border-box;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out; 
	opacity: 0;
}

#overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	backdrop-filter: blur(8px);
	-webkit-backdrop-filter: blur(8px);
	display: flex;
	width: 98%;
    height: 98%;
    margin: auto;
    border-radius: 15%;
}

.app-group-background {
	background-color: black;
	position: absolute;
	opacity: .5;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 15px;
}

.app_group_collapsed {
	height: 80px !important;
	width: 80px !important;
	position: absolute !important;
}

#app-group-content {
	display: flex;
	height: 100%;
	width: 100%;
}

#app-group-content > .app_icon {
	flex-basis: 33.33%;
}

.app_image_container {
	position: relative;
	width: 83%;
	padding-top: 83%;
	margin: auto;
}

.folder_preview_app_icon {
	flex-basis: 33.3%;
	height: 33.33%;
}

.folder_preview_app_icon > img {
	width: 70%;
	border-radius: 20%;
}

.folder_preview {
	display: flex;
	height: 100%;
	background-color: #0000009c;
	padding: 5px;
	box-sizing: border-box;
	border-radius: 5px;
	position: absolute;
	top: 0;
	left: 0;
}

#phone-dock {
	position: absolute;
	bottom: 5%;
	left: 10%;
	right: 10%;
	display: flex;
	justify-content: center;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	background-color: #000000a6;
	padding: 10px;
	z-index: 5;
}

@media only screen and (max-width: 600px) {
	.app_icon {	/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
}